*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 45%;
    border-radius: 15px;
    background-image: linear-gradient(to right bottom, #051937, #071531, #08112b, #070b25, #05051f);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input_text{
    width: 100%;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    background-color: #EFEFEE;
    border-radius: 20px;
}

.input_text:hover{
    box-shadow:0 5px 15px #69D9BF;
}

.row button{
    width: 80px;
    height: 80px;
    margin: 5px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
}

.row button:hover{
    box-shadow:0 5px 15px #69D9BF;
    transition: box-shadow 200ms;
}

.row .btn-onof{
    width: 180px;
}

.row .all-clear{
    background-color: #E95A27;
    color: white;
}

.container .operation{
    background-color: #69DADB;
}

.container .plusbtn{
    height: 170px;
}

table td {
    padding: 0;
}

table .tblbody{
    margin-bottom: 5px;
}
